.header {
  display: flex;
  height: 70px;
  background-color: #090b13;
  align-items: center;
  padding: 0 36px;
  overflow: hidden;
}

.header__navmenu {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 25px;
}
.header__navmenu > a {
  display: flex;
  align-items: center;
  padding: 0 12px;
  cursor: pointer;
}
a > img {
  height: 20px;
}
a > span {
  font-size: 13px;
  letter-spacing: 1.42px;
  position: relative;
}
a ::after {
  content: "";
  height: 2px;
  background-color: White;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  opacity: 0;
  transform-origin: left center;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

a:hover ::after {
  opacity: 1;
  transform: scale(1);
}

.header__userimage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 50%;
}
.loginbutton {
  color: white;
  background-color: #040714;
  border: none;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  padding: 8px 15px;
  font-size: 18px;
  letter-spacing: 1.5px;
}
.loginbutton:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
}
