.login {
  position: relative;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  background: url("/public/images/login-background.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0, 7;
}
.login__contetntbox {
  display: flex;
  flex-direction: column;

  width: 70%;
  max-width: 650px;
}

.login__signup {
  background-color: #0063e5;
  color: white;
  font-weight: 500;
  border: none;
  padding: 17px 0;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: all 250ms;
  letter-spacing: 1.5px;
  margin-top: 8px;
  margin-bottom: 12px;
}
.login__signup:hover {
  background-color: #0483ee;
}
.login__description {
  font-size: 11px;
  letter-spacing: 1.5px;
  text-align: center;
  line-height: 1.5;
}
.login__CTAtwo {
  width: 100%;
  padding: 20px;
}
